{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "eslintIntegration": true,
    "stylelintIntegration": true
}