.baseStyle {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 13px 0 rgba(158, 158, 158, 0.6);
}
.ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}

.ant-btn-group {
  margin-right: 8px;
  margin-bottom: 12px;
}

.ant-btn-group .ant-btn {
  margin: -1px;
}

.ant-btn.ant-btn-block {
  margin: 5px 0;
}
